@model IEnumerable<DeMoGCS10035.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Category</h1>
<p>
    <a href="/admin/category/add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    <a href="category/edit/@item.Id">Edit</a>
                    <a href="#" onclick="confirmDelete(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete(id) {
        if (confirm('Do you want to delete')) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/admin/category/delete/' + id, true); // Thay ControllerName và Delete bằng tên controller và action xóa của bạn
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

            xhr.onload = function () {
                    alert('Delete Success');
                location.reload();
            };

            xhr.send();
        }
    }
</script>