@model IEnumerable<DeMoGCS10035.Models.Book>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Product</h1>

<p>
    <a href="/admin/product/add">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
        <th>
            Thumbnail
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detailes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
             <img src="@Url.Content("~/Image/" + item.Thumb)" alt="product-image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detailes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherId)
            </td>
            <td>
                <a href="product/edit/@item.Id">Edit</a>
            <a href="#" onclick="confirmDelete(@item.Id)">Delete</a>
            </td>
        </tr>
    }
</tbody>
</table>
<script>
    function confirmDelete(id) {
        if (confirm('Do you want to delete')) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/admin/product/delete/' + id, true); // Thay ControllerName và Delete bằng tên controller và action xóa của bạn
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.onload = function () {
                alert('Delete Success');
                location.reload();
            };

            xhr.send();
        }
    }
</script>